html, body {
  margin: 0;
  padding: 0;
}

header {
    background: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 20vh;
    font-family: 'Bungee', cursive;
    position: relative;
}

form {
  position: absolute;
  bottom: -10px;
  display: flex;
  gap:.6em;
}



.title {
  letter-spacing: 4px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

a:hover, a:active {
    color: rgb(191, 43, 43);
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 1.7em;
  }
  input[type=text] {
    width: 65%;
  }
}

/* Formating movie poster */

/* Typography */
.movie-title {
  font-family: 'Inter', sans-serif;
  
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.movie-item {
  display: flex;
  padding: 2em;
  gap: 1em;
  max-width: 800px;

}

.movie-img {
  width: 150px;
}

.movie-info-top {
  display: flex;
  gap: 1em;
  align-items: center;

}
